html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #b54a50
    
}
.home{
    margin-left: -4vw;
}

.main {
    flex: auto;
    background-color: #ccc;
}

.footer {
    min-height: 7vh;
    background: #666;
}
@media(max-width: 750px){
    .header{
        flex-direction: column;
        min-height: 45vh;
    }
    .home{
        margin:0;
    }
}
@media(max-width: 550px){
    .header{
        flex-direction: column;
        min-height: 55vh;
    }
    .home{
        margin:0;
    }
    h1 {
        font-size: 16px !important;
    }
    
}

button{
    background-color: #b54a50 !important;
    color: white !important;
    border: #b54a50 !important;
 
}

.block-telephone {
     color: white !important;
}
.item-bed-system{
    display: flex;
    flex-direction: column;
}
img{
      width: 100%;
    height: auto;
}