html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background: #b54a50

}
.home{
    margin-left: -4vw;
}

.main {
    flex: auto;
    background-color: #ccc;
}

.footer {
    min-height: 10vh;
    background: #666;
}
@media(max-width: 750px){
    .header{
        flex-direction: column;
        min-height: 55vh;
    }
    .home{
        margin:0;
    }
}

button{
    background-color: #b54a50 !important;
    color: white !important;
    border: #b54a50 !important;
 
}